body {

    margin: 0;
    padding: 0;

}

/**************fonte*************/

nav {
    font-family: "Flama Light";
    text-transform: uppercase;

}


.title {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

nav {
    text-align: center;
    background-color: whitesmoke;
    font-size: 15px;
}


nav ul {
    display: inline-block;
}



nav ul {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 700;
    font-size: 1em;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 300px;
    font-size: 20px;
}

nav li a:hover {
    background-color: #a1c4c9;
    color: whitesmoke;
}


/*--------- NAVIGATION MENU -------*/

/*--------- DROPDOWN MENU ----------*/

.dropbtn {
    background-color: #858588;
    color: whitesmoke;
    padding: 15px;
    width: 113px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    text-align: left;
    font-family: "Flama Light";


}


/*------ DROPDOWN CONTAINER -------*/

.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    background-color: #858588;
    z-index: 1;
}

.dropdown ul {
    background-color: #858588;
    list-style-type: none;
    text-align: left;
}


/*-------- DROPDOWN INDHOLD -------*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #858588;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 10px;
    width: 200px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #92d4db;
    color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/********SKRIFT******************/

h1 {
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
    background-color: #599ea1;
    font-size: 3.3em;
    padding: 1.3em;
    margin: 0px;
}

/************************* EXPERIENCE MAP****************/

#experience_map {
    background-color: #3a3a3a;
    padding: 15px;
    color: whitesmoke;



}

#experience_map h2 {

    color: whitesmoke;

}

#map h3 {
    text-align: center;
    color: whitesmoke;
}

#tests {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.test1 {
    flex-grow: 1;
    flex-basis: 250px;
}

.test2 {
    flex-grow: 1;
    flex-basis: 250px;
}

.test3 {
    flex-grow: 1;
    flex-basis: 250px;


}

.test1 img {
    width: 80%;
    height: 80%;
}


.test2 img {
    width: 80%;
    height: 80%;
}

.test3 img {
    width: 80%;
    height: 80%;
}


/*********************PERSONA**************/

#persona {
    background-color: #599ea1;
    padding: 15px;
}




/********BRUGER INTERVIEW**********/

#interview {
    background-color: #3a3a3a;
    padding: 15px;
}

/************design  chartte*****/

#design {
    background-color: #599ea1;
    padding: 15px;
}

.eventapp {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.eventapp img {
    width: 100%;
    height: 100%;
}

.communityapp {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.communityapp img {
    width: 100%;
    height: 100%;
}


.checkapp {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.checkapp img {
    width: 100%;
    height: 100%;
}


.billede1 {
    flex-grow: 1;
    flex-basis: 250px;
    margin: 30px;
    padding: 15px;
}

.billede2 {
    flex-grow: 1;
    flex-basis: 250px;
    margin: 30px;
    padding: 15px;

}

.billede3 {
    flex-grow: 1;
    flex-basis: 250px;
    margin: 30px;
    padding: 15px;
}

/***********************STORYBOARD*********/

#storyboards {
    background-color: #3a3a3a;
    padding: 15px;

}


/*********AKTIVITET OG FEATURES*****/

#aktiviteter_features {
    background-color: #599ea1;
    padding: 15px;
}


.event1 {
    background-color: #0e545d;
    padding: 15px;

}


.community1 {
    background-color: #52504e;
    padding: 15px;

}

.check1 {
    background-color: #0e545d;
    padding: 15px;
}




/********VIDEO******/

#video {
    background-color: #3a3a3a;
    padding: 15px;
}

#video img {
    width: 40%;
    height: 60%;
}


#ideer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    text-align: center;

}

#ideer h4 {
    color: whitesmoke;
    ;
}

.ide1 {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #222933;
    padding: 15px;
    margin: 30px;
}

.ide2 {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #222933;
    padding: 15px;
    margin: 30px
}

.ide3 {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #222933;
    padding: 15px;
    margin: 30px;
}

#video h4 {
    padding: 0px;
    margin: 5px;
}

#video img {
    width: 50%;
    height: 70%;
}


#video img {
    width: 50%;
    height: 70%;
}

/******************DATA********************/

#data {
    background-color: #599ea1;
    padding: 15px;
}

#data img {
    width: 100%;
}





/*********FORRETNING******/

#forretningsmodel {
    background-color: #3a3a3a;
    padding: 15px;
    color: whitesmoke;
}


#UI {
    background-color: #599ea1;
    padding: 15px;
    color: whitesmoke;

}


#design1 {
    background-color: #3a3a3a;
    padding: 15px;
    color: whitesmoke;

}

/*************MOODBOARD******************/

#moodboard img {
    width: 100%;
}

#moodboard {
    background-color: #3a3a3a;
    padding: 15px;

}


/***********STYLETILE***********/

#style {
    background: #599ea1;
    padding: 15px;
    color: whitesmoke;

}


#style img {
    width: 100%;
    height: 100%;
}



/**********SCRUM VIDEO**************/

#scrumvideo {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#scrum h3 {

    color: whitesmoke;
}

#scrum {
    padding: 15px;
    background-color: #599ea1;
    color: whitesmoke;
}


#scrum h4 {
    color: whitesmoke;
}

.nr1 {
    padding: 10px;
}

.nr2 {
    padding: 10px;

}


.nr3 {
    padding: 10px;
}


.nr4 {
    padding: 10px;
}



/************* trello*********/

#trello h3 {
    font-family: "Flama Condensed Bold";
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
    color: whitesmoke;
    text-align: center;
}

#trello {
    text-align: center;
    color: whitesmoke;
    background-color: #599ea1;
    padding: 15px;
}

#trello img {
    width: 20%;
}


#burn_down {
    text-align: center;
}


#burn_down h3 {
    color: whitesmoke;
    text-align: center;

}

#burn_down img {
    width: 20%;
}


/********* APP ICON************/

#appicon {
    background-color: #3a3a3a;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

#appicon img {
    width: 30%;
}

/************FONTE*********/

p,
li,
h2,
h3,
h4 {
    color: whitesmoke;
    font-family: "Flama Light";

}



/****** PERSONER********/

#personer {
    position: relative;
    width: 100vw;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #599ea1;

}

#person_container {
    flex-basis: 250px;
    justify-content: center;
    background-color: #599ea1;
}

#person_indhold {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.person {
    align-self: center;
    width: 10vw;
    height: 10vw;
    background-color: #599ea1;
    border-radius: 50%;
    flex-grow: 1;
    overflow: hidden;

}

.persontekst {
    text-align: center;
    flex-grow: 1;
}


#personer img {
    width: 100%;
}


#personer h3 {
    color: whitesmoke;
    font-size: 20px;
}
